<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link rel="icon" href="img/iconpng.png" type="image/x-icon">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
<h2>List of Registered Users</h2>
<a class="add-button" href="register">New User</a>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Email</th>
        <th>User Name</th>
        <th>Phone Number</th>
        <th>Update User</th>
        <th>Delete User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td><a th:href="@{/update-user-{email}(email=${user.email})}" class="edit-button">Update</a></td>
        <td><a th:href="@{/delete-user-{email}(email=${user.email})}" class="delete-button">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>