<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Horse</title>
    <link rel="icon" href="img/iconpng.png" type="image/x-icon">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/signup.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="addhorseform">
    <section>
        <form>
            <h1>HorseNB</h1>
            <h3>Enter your Horse information</h3>

            <div th:if="${param.success}" class="infobox">
                <div class="success-message">
                    <p>Horse has been added!</p>
                </div>
            </div>

            <div class="inputbox">
                <ion-icon name="bookmark-outline"></ion-icon>
                <input type="text" name="name" required>
                <label>Name*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="email" name="owneremail" required>
                <label>Owner email*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="git-branch-outline"></ion-icon>
                <input type="text" name="horse-breed">
                <label>Horse Breed</label>
            </div>


            <div class="infobox">
                <label>Horse Birthday Date*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="calendar-number-outline"></ion-icon>
                <input type="date" name="horse-birthday-date" required>

            </div>
            <button>Add new Horse</button>
        </form>
    </section>
</div>
</body>
</html>
<!--TODO доделать stable owner-->
