<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery</title>
    <link rel="icon" href="img/iconpng.png" type="image/x-icon">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/signup.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="passrecform">
    <section>
        <form>
            <h1>HorseNB</h1>
            <h3>Password Recovery</h3>

            <div th:if="${param.success}" class="infobox">
                <div class="success-message">
                    <p>Mail has been Send!</p>
                </div>
            </div>

            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label>Email*</label>
            </div>
            <button>Send mail</button>
            <div class="register">
                <p><a href="login"> Log In</a></p>
            </div>
        </form>
    </section>
</div>
</body>
</html>