<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Stable</title>
    <link rel="icon" href="img/iconpng.png" type="image/x-icon">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/signup.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="addstableform">
    <section>
        <form>
            <h1>HorseNB</h1>
            <h3>Enter your stable information</h3>

            <div th:if="${param.success}" class="infobox">
                <div class="success-message">
                    <p>stable has been created!</p>
                </div>
            </div>

            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="name" required>
                <label>Name*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label>Email*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="call-outline"></ion-icon>
                <input type="text" name="phone-number">
                <label>Phone Number</label>
            </div>
            <div class="inputbox">
                <ion-icon name="reorder-four-outline"></ion-icon>
                <input type="number" name="horse-capacity" min="1" max="2000" required>
                <label>Horse Capacity*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="information-circle-outline"></ion-icon>
                <input type="text" name="info-description">
                <label>Additional information</label>
            </div>
            <div class="inputbox">
                <ion-icon name="airplane-outline"></ion-icon>
                <input type="text" name="country" required>
                <label>Country*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="apps-outline"></ion-icon>
                <input type="text" name="region" required>
                <label>Region*</label>
            </div>
            <div class="inputbox">
                <ion-icon name="cellular-outline"></ion-icon>
                <input type="text" name="city">
                <label>City</label>
            </div>
            <div class="inputbox">
                <ion-icon name="business-outline"></ion-icon>
                <input type="text" name="street">
                <label>Street</label>
            </div>
            <div class="inputbox">
                <ion-icon name="home-outline"></ion-icon>
                <input type="text" name="building">
                <label>Building</label>
            </div>
            <div class="inputbox">
                <ion-icon name="albums-outline"></ion-icon>
                <input type="text" name="corpus">
                <label>Corpus</label>
            </div>
            <div class="inputbox">
                <ion-icon name="grid-outline"></ion-icon>
                <input type="text" name="postcode">
                <label>Postcode</label>
            </div>
            <div class="inputbox">
                <ion-icon name="information-circle-outline"></ion-icon>
                <input type="text" name="address-description">
                <label>Address Info</label>
            </div>
            <button>Create new Stable</button>
        </form>
    </section>
</div>
</body>
</html>
<!--TODO придумать как населять поле stable owner-->