<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>HorseNB</title>
    <link rel="stylesheet" href="../css/old-form.css" type="text/css"/>
    <link rel="icon" href="../img/iconpng.png" type="image/x-icon">
</head>
<body>


<h1 style="color: #ff385c">HorseNB</h1>
<a style="color: #ff385c" href="login">Login</a>
<br>
<a style="color: #ff385c" href="register">Register</a>
<br>
<a style="color: #ff385c" href="password-recovery">Forgot Password</a>
<br>
<a style="color: #ff385c" href="new-stable">New Stable</a>
<br>
<a style="color: #ff385c" href="add-horse">Add new Horse</a>
<br>




</body>
</html>