<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>HorseNB</title>
    <link rel="stylesheet" href="../css/form.css" type="text/css"/>
    <link rel="icon" href="../img/icon.png" type="image/x-icon">
</head>
<body>


<h1 style="color: #ff385c">HorseNB</h1>
<a style="color: #ff385c" href="login">Login</a>
<br>
<a style="color: #ff385c" href="register">Register</a>
<br>
<a style="color: #ff385c" href="recover">Forgot Password</a>
<br>


<a style="color: #ff385c" href="logout">Logout</a>
<br>
<a style="color: #ff385c" href="jsp/admin-panel.jsp">Admin Panel</a>
<br>


</body>
</html>